version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: dev_postgres_sos
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dev_db_sos
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: dev_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  app:
    build: .
    container_name: dev_app_sos
    command: npm run start:dev
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/dev_db_sos?schema=public"
      SUPABASE_URL: "https://lkzaeekeyzrkljazunbp.supabase.co"
      SUPABASE_KEY: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxremFlZWtleXpya2xqYXp1bmJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIzMTY1NTMsImV4cCI6MjA2Nzg5MjU1M30.7O1gT1Iy7dSRfCcmjg0a-UK-pZtpU4uxE7Z-J-Oo6WA"
      SUPABASE_SERVICE_ROLE_KEY: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxremFlZWtleXpya2xqYXp1bmJwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjMxNjU1MywiZXhwIjoyMDY3ODkyNTUzfQ.AoaZNrkLxPfeOX04uYUaALpwZZ_O4gQVHaZF8ObnxnU"
      JWT_SECRET: super_secret_key_123
      JWT_EXPIRATION: 1d

volumes:
  postgres_data:
